In [ ]:
## Import Packages/Style Guides

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 300)
from collections import Counter
import matplotlib.pyplot as plt
import re

In [ ]:
## Import Data Sets

In [2]:
df_95 = pd.read_csv('1995_Street_Tree_Census.csv')

In [30]:
df_05 = pd.read_csv('2005_Street_Tree_Census.csv', low_memory=False)

In [4]:
df_15 = pd.read_csv('2015StreetTreesCensus_TREES.csv')

In [5]:
## Find Column Names & Standardize

In [8]:
df_95.head(1)

,RecordId,Address,House_Number,Street,Postcode_Original,Community Board_Original,Site,Species,Diameter,Condition,Wires,Sidewalk_Condition,Support_Structure,Borough,X,Y,Longitude,Latitude,CB_New,Zip_New,CensusTract_2010,CensusBlock_2010,NTA_2010,SegmentID,Spc_Common,Spc_Latin,Location,Council District,BIN,BBL
0,1,245 E 17 ST,245.0,E 17 ST,10003,106,Front,PLAC,8,Unknown,None,NaN,None,Manhattan,988618.9688,206893.764,-73.984235,40.734551,106,10003,48.0,2000.0,MN21,33134,LONDON PLANETREE,PLATANUS ACERIFOLIA,"(40.734551, -73.984235)",2.0,1019566.0,1.008980e+09

In [11]:
df_95 = df_95[['Spc_Common','Spc_Latin','Borough','Condition', 'Zip_New']]

In [13]:
df_95.head(1)

         Spc_Common            Spc_Latin    Borough Condition  Zip_New
0  LONDON PLANETREE  PLATANUS ACERIFOLIA  Manhattan   Unknown    10003

In [16]:
df_95.rename(columns = {'Spc_Common': 'Common_Name','Spc_Latin': 'Latin_Name', 'Condition': 'Health_Grade', 'Zip_New': 'Zip_Code'}, inplace = True)

In [18]:
df_95.head(1)

        Common_Name           Latin_Name    Borough Health_Grade  Zip_Code
0  LONDON PLANETREE  PLATANUS ACERIFOLIA  Manhattan      Unknown     10003

In [ ]:
df.rename(columns={'A': 'a', 'C': 'c'}))

In [31]:
df_05.head(1)

,OBJECTID,cen_year,tree_dbh,address,tree_loc,pit_type,soil_lvl,status,spc_latin,spc_common,vert_other,vert_pgrd,vert_tgrd,vert_wall,horz_blck,horz_grate,horz_plant,horz_other,sidw_crack,sidw_raise,wire_htap,wire_prime,wire_2nd,wire_other,inf_canopy,inf_guard,inf_wires,inf_paving,inf_outlet,inf_shoes,inf_lights,inf_other,trunk_dmg,zipcode,zip_city,cb_num,borocode,boroname,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp,objectid_1,census tract,bin,bbl,Location 1
0,592373,2005,6,1139 57 STREET,Front,Sidewalk Pit,Level,Good,PYRUS CALLERYANA,"PEAR, CALLERY",No,No,No,No,No,No,Yes,No,No,No,No,Yes,No,No,No,No,No,No,No,No,No,No,None,11219,Brooklyn,312,3,Brooklyn,44,48,17,BK88,Borough Park,3021600.0,New York,40.632653,-74.000245,984182,169769,0,216.0,3140038.0,3.056890e+09,"(40.63265321, -74.00024499)"

In [32]:
df_05 = df_05[['spc_common','spc_latin','boroname','zip_city','zipcode', 'nta_name', 'status']]

In [33]:
df_05.head(1)

,spc_common,spc_latin,boroname,zip_city,zipcode,nta_name,status
0,"PEAR, CALLERY",PYRUS CALLERYANA,Brooklyn,Brooklyn,11219,Borough Park,Good

In [28]:
df_05 = df_05.rename(columns = {'spc_common': 'Common_Name','spc_latin': 'Latin_Name', 'boroname': 'Borough', 'zipcode': 'Zip_Code', 'nta_name': 'Neighborhood', 'status': 'Health_Grade'}, inplace = True)

In [36]:
df_05.rename(columns={'spc_common': 'Common_Name','spc_latin': 'Latin_Name','boroname': 'Borough_Name','zip_city': 'Zip_City','zipcode': 'Zip_Code', 'nta_name': 'Neighborhood', 'status': 'Health_Grade'}, inplace = True)

In [37]:
df_05.head(1)

,Common_Name,Latin_Name,Borough_Name,Zip_City,Zip_Code,Neighborhood,Health_Grade
0,"PEAR, CALLERY",PYRUS CALLERYANA,Brooklyn,Brooklyn,11219,Borough Park,Good

In [38]:
df_15.head(1)

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,steward,guards,sidewalk,user_type,problems,root_stone,root_grate,root_other,trnk_wire,trnk_light,trnk_other,brnch_ligh,brnch_shoe,brnch_othe,address,zipcode,zip_city,cb_num,borocode,boroname,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,state,Latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,TreesCount Staff,None,No,No,No,No,No,No,No,No,No,108-005 70 AVENUE,11375,Forest Hills,406,4,Queens,29,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749

In [46]:
df_15 = df_15[['status','health','spc_latin','spc_common','zipcode', 'nta_name', 'boroname']]

In [48]:
df_15.head(1)

  status health    spc_latin spc_common  zipcode      nta_name boroname
0  Alive   Fair  Acer rubrum  red maple    11375  Forest Hills   Queens

In [49]:
df_15.rename(columns={'spc_common': 'Common_Name','spc_latin': 'Latin_Name','boroname': 'Borough_Name','zipcode': 'Zip_Code', 'nta_name': 'Neighborhood', 'health': 'Health_Grade', 'status': 'Living_Status'}, inplace = True)

In [50]:
df_15.head(1)

,Living_Status,Health_Grade,Latin_Name,Common_Name,Zip_Code,Neighborhood,Borough_Name
0,Alive,Fair,Acer rubrum,red maple,11375,Forest Hills,Queens

In [ ]:
## Defining Health

In [44]:
pd.value_counts(df_15['status'])

Alive    652173
Stump     17654
Dead      13961
Name: status, dtype: int64

In [40]:
pd.value_counts(df_15['health'])

Good    528850
Fair     96504
Poor     26818
Name: health, dtype: int64

In [42]:
pd.value_counts(df_05['Health_Grade'])

Good         393464
Excellent    141657
Poor          49131
Dead           8120
Name: Health_Grade, dtype: int64

In [43]:
pd.value_counts(df_95['Health_Grade'])

Good              332562
Excellent         100286
Poor               38571
Planting Space     15231
Dead               12859
Unknown            10761
Stump               6087
Fair                 327
Shaft                303
Critical               2
Name: Health_Grade, dtype: int64

In [51]:
# In order to compare across different censuses the ratings must be standardized.
# Also to make things more comparable anything already dead/imminently dying will
# not be counted across as viable.

# The following for the '95 census will not be counted at all
# /Critical - Shaft - Stump - Planting Space - Dead

# The following for the '95 census will be counted as Fair
# /Unknown - Fair

In [ ]:
df.replace({'A': 0, 'B': 5}, 100)

In [52]:
df_95 = df_95.replace({'Good': 'Good', 'Excellent': 'Good', 'Poor': 'Poor', 'Unknown': 'Fair'})

In [53]:
df_95.head()

        Common_Name           Latin_Name    Borough Health_Grade  Zip_Code
0  LONDON PLANETREE  PLATANUS ACERIFOLIA  Manhattan         Fair     10003
1     MAPLE, NORWAY     ACER PLATANOIDES  Manhattan         Good     10013
2     MAPLE, NORWAY     ACER PLATANOIDES  Manhattan         Good     10013
3     MAPLE, NORWAY     ACER PLATANOIDES  Manhattan         Good     10013
4     MAPLE, NORWAY     ACER PLATANOIDES  Manhattan         Good     10013

In [56]:
pd.value_counts(df_95['Health_Grade'])

Good              432848
Poor               38571
Planting Space     15231
Dead               12859
Fair               11088
Stump               6087
Shaft                303
Critical               2
Name: Health_Grade, dtype: int64

In [57]:
drop95_vals = ['Planting Space', 'Dead', 'Stump', 'Shaft', 'Critical']

In [58]:
df_95 = df_95.loc[~df_95['Health_Grade'].isin(drop95_vals)]

In [61]:
df_95.head(1)

        Common_Name           Latin_Name    Borough Health_Grade  Zip_Code
0  LONDON PLANETREE  PLATANUS ACERIFOLIA  Manhattan         Fair     10003

In [62]:
pd.value_counts(df_95['Health_Grade'])

Good    432848
Poor     38571
Fair     11088
Name: Health_Grade, dtype: int64

In [ ]:
# In order to compare across different censuses the ratings must be standardized.
# Also to make things more comparable anything already dead/imminently dying will
# not be counted across as viable and removed from the set.

# The following for the '05 census will not be counted at all
# /Dead

# The following for the '05 census will be counted as Fair
# /Good - Fair

In [63]:
df_05 = df_05.replace({'Good': 'Fair', 'Excellent': 'Good', 'Poor': 'Poor'})

In [64]:
drop05_vals = ['Dead']

In [65]:
df_05 = df_05.loc[~df_05['Health_Grade'].isin(drop05_vals)]

In [66]:
pd.value_counts(df_05['Health_Grade'])

Fair    393464
Good    141657
Poor     49131
Name: Health_Grade, dtype: int64

In [67]:
pd.value_counts(df_15['Health_Grade'])

Good    528850
Fair     96504
Poor     26818
Name: Health_Grade, dtype: int64

In [73]:
print(df_95.shape)
print(df_05.shape)
#print(df_15.shape)

(482507, 5)
(584252, 7)

In [71]:
df_15.head(2)

,Living_Status,Health_Grade,Latin_Name,Common_Name,Zip_Code,Neighborhood,Borough_Name
0,Alive,Fair,Acer rubrum,red maple,11375,Forest Hills,Queens
1,Alive,Fair,Quercus palustris,pin oak,11357,Whitestone,Queens

In [72]:
pd.value_counts(df_15['Living_Status'])
# Alive    652173 - this will be our number for tree count for 2015

Alive    652173
Stump     17654
Dead      13961
Name: Living_Status, dtype: int64